---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Oops!">
	<heading class="py-24">
		<h1 class="text-3xl lg:text-4xl font-black text-gray-800 text-center">Oops!</h1>
		<p class="mt-2 text-gray-600 text-center">We couldn't find what you were looking for.</p>
	</heading>
</Layout>
