---
import TestingLayout from "~/layouts/TestingLayout.astro";
---

<TestingLayout title="Text Match">
	<div class="flex mt-6 justify-between">
		<div>
			<img src="/img/pizza-blurred.jpg" width="300px" />
			<p class="text-center">View the menu</p>
		</div>
		<div>
			<img src="/img/pizza.jpg" width="300px" />
			<p class="text-center">View the menu</p>
		</div>
	</div>
</TestingLayout>
