---
export interface Props {}
---

<div class="relative hidden lg:block" role="presentation" aria-hidden="true">
  <div class="absolute top-2 right-2">
    <img src="/img/square-pattern.svg" alt="pattern" class="h-56 transform rotate-90" />
  </div>
</div>