---
import { getCollection } from "astro:content";
import { getCurrentPage, Page } from "~/utils/page";
import { createImagePrefetchScript } from "~/utils/prefetch";

const currentPage = getCurrentPage(Astro.url);

const baseLinkClasses = "pl-1 pr-2 transition-colors";

const activeClasses = `${baseLinkClasses} shadow-blue-200 hover:shadow-blue-200 text-gray-900`;
const inactiveClasses = `${baseLinkClasses} hover:shadow-blue-100`;

function getLinkClasses(page: Page) {
	return page === currentPage ? activeClasses : inactiveClasses;
}

const blogImages = await getCollection("blog").then((collection) => collection.map((entry) => entry.data.previewImg));
const projectImages = await getCollection("projects").then((collection) => collection.map((entry) => entry.data.previewImg));
const resumeImages = ["/img/drexel-logo.webp", "/img/jja-logo.svg"]


const blogImagePrefetch = {
	'x-on:mouseenter': blogImages.map(createImagePrefetchScript).join(''),
};

const projectImagePrefetch = {
	'x-on:mouseenter': projectImages.map(createImagePrefetchScript).join(''),
}

const resumeImagePrefetch = {
	'x-on:mouseenter': resumeImages.map(createImagePrefetchScript).join(''),
}
---

<nav class="hidden lg:block">
	<ul class="flex items-center space-x-5 text-gray-600 font-black leading-none" x-data="{ prefetched: new Set() }">
		<li>
			<a href="/about/" rel="prefetch" class={getLinkClasses("about")}>About Me</a>
		</li>
		<li {...blogImagePrefetch}>
			<a href="/blog/" rel="prefetch" class={getLinkClasses("blog")}>Blog</a>
		</li>
		<li {...projectImagePrefetch}>
			<a href="/projects/" rel="prefetch" class={getLinkClasses("projects")}>Projects</a>
		</li>
		<li {...resumeImagePrefetch}>
			<a href="/resume/" rel="prefetch" class={getLinkClasses("resume")}>Resume</a>
		</li>
		<li>
			<a href="/contact/" rel="prefetch" class={getLinkClasses("contact")}>Contact</a>
		</li>
	</ul>
</nav>
