---
import { getCurrentPage, Page } from "~/utils/page";

const currentPage = getCurrentPage(Astro.url);

const baseLinkClasses = "pl-1 pr-2 transition-colors";

const activeClasses = `${baseLinkClasses} shadow-blue-200 hover:shadow-blue-200 text-gray-900`;
const inactiveClasses = `${baseLinkClasses} hover:shadow-blue-100`;

function getLinkClasses(page: Page) {
	return page === currentPage ? activeClasses : inactiveClasses;
}
---

<nav class="hidden lg:block">
	<ul class="flex items-center space-x-5 text-gray-600 font-black leading-none">
		<li>
			<a href="/about/" rel="prefetch" class={getLinkClasses("about")}>About Me</a>
		</li>
		<li>
			<a href="/blog/" rel="prefetch" class={getLinkClasses("blog")}>Blog</a>
		</li>
		<li>
			<a href="/projects/" rel="prefetch" class={getLinkClasses("projects")}>Projects</a>
		</li>
		<li>
			<a href="/resume/" rel="prefetch" class={getLinkClasses("resume")}>Resume</a>
		</li>
		<li>
			<a href="/contact/" rel="prefetch" class={getLinkClasses("contact")}>Contact</a>
		</li>
	</ul>
</nav>
