<li class="ml-2 flex items-start leading-tight">
	<span class="h-1.5 w-1.5 flex-shrink-0 rounded-full bg-gray-600" style="margin-top: 0.4375rem"
	></span>
	<span class="ml-2">
		<slot />
	</span>
</li>
