---
import { CollectionEntry, getCollection } from "astro:content";
import IconArrowLeft from "~/components/icons/IconArrowLeft.astro";
import IconGithub from "~/components/icons/IconGithub.astro";
import IconWeb from "~/components/icons/IconWeb.astro";
import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
	const projectEntries = await getCollection("projects");

	return projectEntries.map((entry) => {
		return { params: { slug: entry.slug }, props: { entry } };
	});
}

type Props = {
	entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
const {
	data: { github, web, title },
} = entry;
---

<Layout title={title}>
	<div>
		<a
			href="/projects/"
			rel="prefetch"
			class="pl-1 pr-2 inline-flex items-center hyperlink text-gray-600 hover:text-gray-700"
		>
			<IconArrowLeft class="h-5 w-5" />
			<span class="ml-2 font-black text-sm">Back to projects</span>
		</a>
	</div>
	<article class="mt-4 markdown">
		<Content />
	</article>
	<div class="mt-12 flex items-start space-x-3">
		{
			github ? (
				<a
					href={github}
					class="px-3 py-2 flex items-center justify-center text-gray-600 bg-white hover:text-gray-700 transition-colors font-bold rounded-lg shadow"
				>
					<IconGithub class="h-5 w-5" />
					<span class="ml-2 px-3">Github</span>
				</a>
			) : null
		}
		{
			web ? (
				<a
					href={web}
					class="px-3 py-2 flex items-center justify-center text-white bg-blue-600 hover:bg-blue-700 transition-colors font-bold rounded-lg shadow"
				>
					<IconWeb class="h-5 w-5" />
					<span class="ml-2">Visit on the Web</span>
				</a>
			) : null
		}
	</div>
</Layout>
