---
import BlockPattern from '../components/BlockPattern.astro';
import SideBar from '../components/SideBar.astro';

export interface Props {
	title: string;
	hideSidebar?: boolean;
}

const { title, hideSidebar = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-50 antialiased text-gray-900 lg:bg-wave bg-no-repeat bg-bottom min-h-screen">
		<BlockPattern />
		<div class="relative max-w-screen-lg mx-auto p-6 flex flex-col lg:flex-row min-h-screen">
			{!hideSidebar ? <SideBar /> : null}
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: 'Nunito Sans';
		src: url('/fonts/NunitoSans-Regular.ttf');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Nunito Sans';
		src: url('/fonts/NunitoSans-Bold.ttf');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Nunito Sans';
		src: url('/fonts/NunitoSans-Black.ttf');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Source Code Pro';
		src: url('/fonts/SourceCodePro-VariableFont_wght.ttf');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}
</style>